@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  
  
  
  
  
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
 
}
/* navbar related style */
.navbar{
    text-align: right;
    align-items: center;
    margin: 30px 150px 120px 150px;
    width: 1150px;
    height: 71px;
    gap: 600px;
    


}
.colour{
    color: #8987A1;
}
/* .nav-link{
    text-decoration: none;
    font-weight: 500;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 22px;
    gap: 48px;
    margin-top: 120X;
    margin-bottom: 120PX;
} */
 .nav-links{
    justify-content: space-between;
   
 } 
 
.nav-colour{
    color: #8987A1;
}

.ul{
    gap: 48px;
    list-style: none;

}
/* header */
.header{
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
     padding: 15px 30px; 
     
}
.banner{
    margin: 120px 150px;
    width: 1140px;
    height: 461px;

}
.jhamela{
    margin-left: 100px;
    height: 138px;
    width: 1140px;
    gap: 16px;
    border: 126px;

}

    

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}

/* plant section style */
.plants-title{
    width: 1140px;
    height: 1186.88px;
}
.plants-description{

    color: rgba(0, 0, 0, 0.5);
}
.text-1{
   padding: 16px 126px;
}




.flower-price{
    
    
    margin-top: 20px;

}
.button{
   
    height: 50px;
    width: 270px;;
    margin-top: 30px;
    color: white;
    background-color: #E95A08;
}
.plants{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 20px;
    margin:  49px 150px 210.13px 150px;

}
/* plants lover */
.plants-lover{
    margin: 210.13px 150px 133.88px 150px;
    gap: 50px;
}
.lover-speech{
    width: 540px;
    height: 521px;
    margin-bottom: 0px;
    
}   
.speech{
   margin-bottom: 20px;
   padding: 20px;
   color: rgba(0, 0, 0, 0.5);
}
ul{
    list-style-type: disc;
    font-size: 22px;
    font-weight: 600;

}
#trusted-badge{
   width: 286px;
   height: 286px;
   margin-left: 280px;
   margin-bottom: -100px;


}
/* deals style */
.deals{
    margin: 180px 162px 58px 230px;
}
.deals-title{
    text-align: center;

}
.deals-description{
    margin-left: 100px;
    width: 1140px;
    height: 68px;
    color: #8987A1;
}
/* offers style */
.offers{
    margin-right: 160px;
    margin-bottom: 135.88px;
    margin-left: 140px;
    width: 1140px;
    height: 423.13px;

}
.offer-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blome{
    background-image: url(../assets/deal-bloom.png);
    text-align: center;
    width: 367px;
    height: 201px;
    margin-bottom: 25px;
    padding: 65px 47.22px 50px 49px;
    border-radius: 14px;
    color: white;
    filter: grayscale(40%);

}
.ana{
    background-image: url(../assets/deal-ana.png);
    text-align: center;
    align-items: center;
    width: 367px;
    height: 197px;
    color: white;
    padding: 60px 48px 60px 49px;
    border-radius: 14px;
    filter: grayscale(40%);

    
}
.zabo{
    background-image: url(../assets/deal-zabo.png);
    text-align: center;
    width: 753px;
    height: 423.13px;
    color: white;
    padding: 172.13px 127px 201px 128px;
    border-radius: 8px;
    filter: grayscale(40%);

}
