@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  
  
  
  
  
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
 
}
/* navbar related style */
.navbar{
    text-align: right;
    align-items: center;
    margin: 30px 150px 120px 150px;
    width: 1150px;
    height: 71px;
    gap: 600px;
    


}
.colour{
    color: #8987A1;
}

 .nav-links{
    justify-content: space-between;
   
 } 
 
.nav-colour{
    color: #8987A1;
}

.ul{
    gap: 48px;
    list-style: none;

}
/* header */
.header{
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
     padding: 15px 30px; 
     
}
.banner{
    margin: 120px 150px;
    width: 1140px;
    height: 461px;

}
.jhamela{
    margin-left: 100px;
    height: 138px;
    width: 1140px;
    gap: 16px;
    border: 126px;

}

    

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}

/* plant section style */
.plants-title{
    width: 1140px;
    height: 1186.88px;
}
.plants-description{

    color: rgba(0, 0, 0, 0.5);
}
.text-1{
   padding: 16px 126px;
}

.flower-title{
    margin: 0px 69px 0px 69px;
}


.flower-price{
    
    
    margin: 6px 94.5px 0px 94.5px;

}
.button{
   
    height: 50px;
    width: 270px;;
    margin-top: 30px;
    color: white;
    background-color: #E95A08;
}
.plants{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 20px;
    margin:  49px 150px 210.13px 150px;

}
/* plants lover */
.plants-lover{
    margin: 210.13px 150px 133.88px 150px;
    gap: 50px;
}
.lover-speech{
    width: 540px;
    height: 521px;
    margin-bottom: 0px;
    
}   
.speech{
   margin-bottom: 20px;
   padding: 20px;
   color: rgba(0, 0, 0, 0.5);
}
ul{
    list-style-type: disc;
    font-size: 22px;
    font-weight: 600;

}
#trusted-badge{
   width: 286px;
   height: 286px;
   margin-left: 280px;
   margin-bottom: -100px;


}
/* deals style */
.deals{
    margin: 180px 162px 58px 230px;
}
.deals-title{
    text-align: center;

}
.deals-description{
    margin-left: 100px;
    width: 1140px;
    height: 68px;
    color: #8987A1;
}
/* offers style */
.offers{
    margin-right: 160px;
    margin-bottom: 135.88px;
    margin-left: 140px;
    width: 1140px;
    white-space: 100%;
    height: 423.13px;
    background-position: center;

}
.offer-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blome{
    background-image: url(../assets/deal-bloom.png);
    text-align: center;
    width: 367px;
    height: 201px;
    margin-bottom: 25px;
    padding: 65px 47.22px 50px 49px;
    border-radius: 14px;
    color: white;
    filter: grayscale(40%);

}
.ana{
    background-image: url(../assets/deal-ana.png);
    text-align: center;
    align-items: center;
    width: 367px;
    height: 197px;
    color: white;
    padding: 60px 48px 60px 49px;
    border-radius: 14px;
    filter: grayscale(40%);

    
}
.zabo{
    background-image: url(../assets/deal-zabo.png);
    text-align: center;
    width: 753px;
    height: 423.13px;
    color: white;
    padding: 172.13px 127px 201px 128px;
    border-radius: 8px;
    filter: grayscale(40%);

}
/* colourful bunch style */
.cta-banner {
    /* Set the background image and height */
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    width: 1140px;
    width: 100%;
    background-position: center;
    height: 533px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

/* --- 2. Content Centering and Text Styling --- */
.content-wrapper {
    text-align: center;
    color: white;
    padding: 199px 305px 193px 305px;
}

.cta-heading {
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* --- 3. Form Layout (Flexbox for alignment) --- */
.subscribe-form {
    display: flex; 
    justify-content: center;
    width: 1140px;
    width: 100%;

}

.email-input {
   
    flex-grow: 1; 
    background-color: white;
    color: black;
    padding: 15px 20px;
    border: none;
    font-size: 1em;
    max-width: 350px; 
}
/* --- 4. Button Styling --- */
.subscribe-button {
    background-color: #ff6622; 
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
   
}
/* footwr relaled style */
.footer{
    display: flex;
    padding: 50px 160px;
    width: 1140px;
}
.image{
    margin-bottom: 18px;
    width: 135px;
    height: 82px;
}
.description{
    margin-right: 110.67px;
    margin-bottom: 69px;
}
.footer-description{
    color: rgba(107, 114, 128, 1);
}
.ol-1{
    width: 100px;
    height: 248px;
    padding: 32px;
    margin: auto;
    color: rgba(107, 114, 128, 1);

}
.ol-2{
    width: 140px;
    height: 248px;
    padding: 32px;
    margin: auto;
    color: rgba(107, 114, 128, 1);
}
.sponsor-flex{
    display: flex;
    width: 216px;
    height: 36px;
    gap: 24px;
    margin-left: 50px;
}
