@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  
  
  
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
 
}
/* navbar related style */
.navbar{
    text-align: right;
    align-items: center;
    margin: 30px 150px 120px 150px;
    width: 1150px;
    height: 71px;
    gap: 600px;
    


}
.colour{
    color: #8987A1;
}
/* .nav-link{
    text-decoration: none;
    font-weight: 500;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 22px;
    gap: 48px;
    margin-top: 120X;
    margin-bottom: 120PX;
} */
 .nav-links{
    justify-content: space-between;
   
 } 
 
.nav-colour{
    color: #8987A1;
}

.ul{
    gap: 48px;

}
/* header */
.header{
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
     padding: 15px 30px; 
     
}
.banner{
    margin: 120px 150px;
    width: 1140px;
    height: 461px;

}
.jhamela{
    margin-left: 40px;
    height: 138px;
    width: 1140px;
    gap: 16px;
    border: 126px;

}

    

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}

/* plant section style */
.plants-title{
    width: 1140px;
    height: 1186.88px;
}
.plants-description{

    color: rgba(0, 0, 0, 0.5);
}
.text-1{
   padding: 16px 126px;
}




.flower-price{
    
    
    margin-top: 20px;

}
.button{
   
    height: 50px;
    width: 270px;;
    margin-top: 30px;
    color: white;
    background-color: #E95A08;
}
.plants{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 20px;
    margin:  49px 150px 210.13px 150px;

}
/* plants lover */
.plants-lover{
    margin: 210.13px 150px 133.88px 150px;
    gap: 50px;
}
.lover-speech{
    width: 1140px;
    height: 597px;
    
}   
.speech{
   margin-bottom: 20px;
   padding: 20px;
   color: rgba(0, 0, 0, 0.5);
}
ul{
    list-style-type: disc;
    font-size: 22px;
    font-weight: 600;

}
#trusted-badge{
   width: 286px;
   height: 286px;
   margin-top: -117px;

}